.blank{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height: 9000px;
  border: 3px dashed red;
}

.fadeInSection{
  position:relative;
  color: whitesmoke;
  text-align: center;
  font-size: 8vw;
  margin: auto;
}

#img-sequence{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  object-fit: cover;
  z-index: -1;
}

/* #img-sequence{
  position:fixed;
  top:0px;
  object-fit: cover;
  z-index: -1;
} */